################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestConsole/Debug
/TestConsole/Debug
/TestConsole/.vs/TestConsole/v14
/TestConsole/TestConsole.VC.VC.opendb
/TestConsole/TestConsole.VC.db
/C++VS/Exersice/Lessons2/1/CtoF/CtoF/Debug
/C++VS/Exersice/Lessons2/1/CtoF/Debug
/C++VS/Exersice/Lessons2/2/DolToRandE/Debug
/C++VS/Exersice/Lessons2/2/DolToRandE/DolToRandE/Debug
/C++VS/Exersice/Lessons3/1/time/Debug
/C++VS/Exersice/Lessons3/1/time/time/Debug
/C++VS/Exersice/Lessons6/5/studentsException/studentsException/Debug
/C++VS/Exersice/Lessons6/5/studentsException/Debug
/C++VS/Exersice/Lessons6/5/modOtDenisa/modOtDenisa/Debug
/C++VS/Exersice/Lessons6/5/modOtDenisa/Debug
/C++VS/Exersice/Lessons6/4/mod/mod/Debug
/C++VS/Exersice/Lessons6/4/mod/Debug
/C++VS/Exersice/Lessons6/3/Bobble/Debug
/C++VS/Exersice/Lessons6/3/Bobble/Bobble/Debug
/C++VS/Exersice/Lessons6/2/search/search/Debug
/C++VS/Exersice/Lessons6/2/search/Debug
/C++VS/Exersice/Lessons6/1/summa/summa/Debug
/C++VS/Exersice/Lessons6/1/summa/Debug
/C++VS/Exersice/Lessons5/Zvezdopad/zvezdopad/zvezdopad/Debug
/C++VS/Exersice/Lessons5/Zvezdopad/zvezdopad/Debug
/C++VS/Exersice/Lessons5/Power2/Power2/Debug
/C++VS/Exersice/Lessons5/Power2/Debug
/C++VS/Exersice/Lessons5/NOD/nod/nok/Debug
/C++VS/Exersice/Lessons5/NOD/nod/nod/Debug
/C++VS/Exersice/Lessons5/NOD/nod/Debug
/C++VS/Exersice/Lessons4/3/calculator/Debug
/C++VS/Exersice/Lessons4/3/calculator/calculator_if_else/Debug
/C++VS/Exersice/Lessons4/3/calculator/calculator/Debug
/C++VS/Exersice/Lessons4/2/quadratic_equation/quadratic_equation/Debug
/C++VS/Exersice/Lessons4/2/quadratic_equation/Debug
/C++VS/Exersice/Lessons4/1/Ruble_if_else/Ruble_if_else/Debug
/C++VS/Exersice/Lessons4/1/Ruble_if_else/Debug
/C++VS/Exersice/Lessons3/3/percent/percent/Debug
/C++VS/Exersice/Lessons3/3/percent/Debug
/C++VS/Exersice/Lessons3/2/opportunity/opportunity/Debug
/C++VS/Exersice/Lessons3/2/opportunity/Debug
/C++VS/Страуструп/HelloWorld/HelloWorld/.vs/HelloWorld/v14
/C++VS/Страуструп/HelloWorld/HelloWorld/Backup
/C++VS/Страуструп/HelloWorld/HelloWorld/UpgradeLog.htm
/C++VS/Страуструп/HelloWorld/HelloWorld/HelloWorld.VC.db
/C++VS/Страуструп/HelloWorld/HelloWorld/HelloWorld.VC.VC.opendb
/C++VS/Exersice/Lessons8/MatrixPointer/MatrixPointer/Debug
/C++VS/Exersice/Lessons8/MatrixPointer/Debug
/C++VS/Exersice/Lessons7/4/moveCahrXYZ/move/Debug
/C++VS/Exersice/Lessons7/4/moveCahrXYZ/move/move/Debug
/C++VS/Exersice/Lessons12/function_arguments/function_arguments.VC.VC.opendb
/C++VS/Exersice/Lessons12/function_arguments/concatenation/Debug
/C++VS/Exersice/Lessons12/function_arguments/Debug
/C++VS/Exersice/Lessons13/Lesson13/Debug
/C++VS/Exersice/Lessons13/Lesson13/time/Debug
/C++VS/Lessons/13Struct/Struct/Debug
/C++VS/Lessons/13Struct/Struct/Struct/Debug
/C++VS/Lessons/14List/List/Debug
/C++VS/Lessons/14List/List/List/Debug
/C++VS/Exersice/Lessons14/Lesson14/Debug
/C++VS/Exersice/Lessons14/Lesson14/stock/Debug
/C++VS/Exersice/Lessons15/Lessons15/InputOutputFile/Debug
/C++VS/Lessons/15Fstream/Fstream/Fstream/Debug
/C++VS/Lessons/15Fstream/Fstream/Debug
/C++VS/Exersice/Lessons15/Lessons15/Debug
/C++VS/Lessons/15Fstream/Fstream/Output-Debug.txt
/C++VS/Lessons/15Fstream/Fstream/RectengleOfDM/Debug
/C++VS/Exersice/Lessons15/Fake/Fake.VC.db
*.opendb
*.suo
/C++VS/Lessons/15Fstream/Fstream/RectengleOfDM/Text.txt
/C++VS/Lessons/15Fstream/Fstream/RectengleOfDM/Text.txt
/C++VS/Lessons/15Fstream/Fstream/RectengleOfDM/Text.txt
/C++VS/Lessons/17Recursion/Recursion/Debug
/C++VS/Lessons/17Recursion/Recursion/quicksort/Debug
/C++VS/Lessons/17Recursion/Recursion/Recursion/Debug
/C++VS/Lessons/17Recursion/Recursion/Recursion.VC.db
/C++VS/Exersice/Lessons17/Lesson17/factorial/Debug
/C++VS/Exersice/Lessons17/Lesson17/Lesson17.VC.db
/C++VS/Exersice/Lessons17/Lesson17/Debug
/C++VS/Exersice/Lessons17/Lesson17/QuickSearch/Debug
/C++VS/Exersice/Lessons18/library/library/Debug
/C++VS/Exersice/Lessons18/Project1/Debug
/C++VS/Lessons/18multifile_projects/multifile_projects/Debug
/C++VS/Lessons/18multifile_projects/multifile_projects/Lesson18/Debug
/C++VS/Exersice/Lessons18/Project1/Project1/Debug
/C++VS/Lessons/18multifile_projects/multifile_projects/multifile_projects.VC.db
/C++VS/Exersice/Lessons18/Project1/Project1.VC.db
/C++VS/Exersice/Lessons18/library/library.VC.db
/C++VS/Lessons/19Class/Class/Debug
/C++VS/Lessons/19Class/Class/bank/Debug
/C++VS/Lessons/19Class/Class/Class.VC.db
/C++VS/Exersice/Lessons19/Class/Book/Debug
/C++VS/Exersice/Lessons19/Class/Debug
/C++VS/Exersice/Lessons19/Class/Class.VC.db
/C++VS/Lessons/20ClassStack/Stack/Stack/Debug
/C++VS/Lessons/20ClassStack/Stack/Debug
/C++VS/Exersice/Lessons20/queue/Debug
/C++VS/Exersice/Lessons20/queue/queue/Debug
/C++VS/Lessons/21Operations_overloading/O_overloading/O_overloading/Debug
/C++VS/Lessons/21Operations_overloading/O_overloading/Debug
/C++VS/Lessons/21Operations_overloading/O_overloading/O_overloading.VC.db
/C++VS/Exersice/Lessons21/Operations_overloading/Debug
/C++VS/Exersice/Lessons21/Operations_overloading/Rational_fractions/Debug
/C++VS/Exersice/Lessons21/Operations_overloading/Operations_overloading.VC.db
/C++VS/Exersice/Lessons21/Operations_overloading/Complex_numbers/Debug
/C++VS/Lessons/22Errors/Errors/Errors.VC.db
/C++VS/Lessons/22Errors/Errors/Errors/Debug/vc140.idb
/C++VS/Lessons/22Errors/Errors/Errors/Debug
/C++VS/Lessons/22Errors/Errors/Debug
/C++VS/Exersice/Lessons23/inheritance1/Debug
/C++VS/Exersice/Lessons23/inheritance1/Figure/Debug
/C++VS/Exersice/Lessons23/inheritanceDM/figureDM/Inheritance/Debug
/C++VS/Exersice/Lessons23/inheritance1/inheritance1.VC.db
/C++VS/Lessons/25Virtual_destructor/virt/virt/Debug
/C++VS/Lessons/25Virtual_destructor/virt/virt.VC.db
/C++VS/Lessons/25Virtual_destructor/virt/Debug
/C++VS/Lessons/24inheritance_2/inheritance2/inheritance2.VC.db
/C++VS/Lessons/24inheritance_2/inheritance2/inheritance2/Debug
/C++VS/Lessons/23Inheritance/Inheritance/Inheritance.VC.db
/C++VS/Lessons/23Inheritance/Inheritance/Inheritance/Debug
/C++VS/Exersice/Lessons24/Virtual_function/Virtual_function.VC.db
/C++VS/Exersice/Lessons24/Virtual_function/Virtual_account/Debug
/C++VS/Lessons/23Inheritance/Inheritance/Debug
/C++VS/Lessons/24inheritance_2/inheritance2/Debug
/C++VS/Exersice/Lessons24/Virtual_function/Debug
/C++VS/Exersice/Lessons23/inheritanceDM/figureDM/Debug
/C++VS/Exersice/Lessons23/inheritanceDM/figureDM/figureDM.VC.db
/C++VS/Exersice/Lessons25/TemplateClass/Class_Stack/Debug
/C++VS/Exersice/Lessons25/TemplateClass/Debug
/C++VS/Exersice/Lessons25/TemplateClass/TemplateClass.VC.db
/C++VS/Lessons/26ExceptionsRTTI/Exceptions/Debug
/C++VS/Lessons/26ExceptionsRTTI/Exceptions/Exceptions/Debug
/C++VS/Lessons/26ExceptionsRTTI/Exceptions/RTTI/Debug
/C++VS/Lessons/26ExceptionsRTTI/Exceptions/Exceptions.VC.db
/C++VS/Exersice/Lessons26/exception/Array_exception/Debug
/C++VS/Exersice/Lessons26/exception/Debug
/C++VS/Exersice/Lessons26/exception/exception.VC.db
/C++VS/Lessons/27STL/STL/STL/Debug
